.Button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10rem;
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  line-height: 1.25;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  outline: none;
  &:hover {
    background-color: var(--primary-light);
  }
}

