:root {
  --primary: #7c5dfa;
  --primary-light: #9277ff;
  --text-color: #0c0e16;
  --main-bg: #f8f8fb;
  --secondary-bg: #fff;
  --timing-animation: 0.2s;
  --border-input: #cfcfcf;
  --bg-input: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-bg);
  transition: var(--timing-animation);
  &.isDark {
    --border-input: #252945;
    --bg-input: #1e2139;
    --secondary-bg: #1e2139;
    --main-bg: #141625;
    --text-color: #f4f4ff;
  }
}

main {
  padding: 1rem;
  flex: 1;
}
@media (min-width: 900px) {
  main {
    margin-inline-start: 6rem;
    margin-top: 5rem;
  }
  .App {
    flex-direction: row;
  }
}

.Wrapper {
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.Header {
  display: flex;
  justify-content: space-between;
  .Title {
    margin-bottom: 0.5rem;
    transition: var(--timing-animation);
    color: var(--text-color);
  }
  .SubTitle {
    transition: color 0.3s ease 0s;
    color: #888eb0;
    font-size: 0.75rem;
    line-height: 1.125;
    letter-spacing: -0.25px;
  }
}

.RightWrapper {
  display: flex;
  align-items: center;
}

.IconWrapper {
  display: inline-flex;
  margin-right: 0.5rem;
  padding: 0.425rem;
  background: white;
  border-radius: 50%;
  img {
    width: 0.625rem;
    height: 0.625rem;
  }
}
